<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3DtG3o3X3Uhbn08d9VjDMVZsrBsNxjBM</string>
	<key>GCM_SENDER_ID</key>
	<string>711266435537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.madcampWeek2</string>
	<key>PROJECT_ID</key>
	<string>madcamp-week2-yeongjae-yoonseo</string>
	<key>STORAGE_BUCKET</key>
	<string>madcamp-week2-yeongjae-yoonseo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711266435537:ios:a9d5dabf9d33b45d1460f0</string>
</dict>
</plist>